<h1>Sign Up</h1>

<%= form_for @user do |form| %>
  <div>
  <%= form.text_field :first_name, placeholder: "First Name", class: "form-control" %>
  </div>
  <div>
    <%= form.text_field :last_name, placeholder: "Last Name" %> 
  </div>

  <div>
    <%= form.email_field :email, placeholder: "Email" %> 
  </div>
  <div>
    <%= form.password_field :password, placeholder: "Password" %> 
  </div>
  <%= form.submit "Sign Up!" %>
<% end %>